*{
    margin: 0;
    padding: 0;

}
body{
    background-color: black;
}
.main{
    background-image: url("assets/image/BackGroundImg.jpg");
    /* height: 90vh; */
    position:relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1300px,100vw);
    height: 95vh;
}
.main .box{
    height: 95vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
    
}
nav{
    max-width: 60vw;
    /* justify-content: space-between; */
    gap: 43vw;
    margin:auto;
    display: flex;
    align-items: center;
    height: 100px
}
nav img{
    /* top: 10px; */
    bottom: 20px;
/* left: 14px; */
   right:8vw;

    color: red;
    position: relative;
    z-index: 10;
    width: 100px;

}
nav button{
    /* top: 10px; */
    position: relative;
    z-index: 10;
}
.hero{
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap:23px;
    /* bottom: 20px; */
    padding: 0 30px;

    /* font-size: 4; */
}
.hero> :nth-child(1){
    font-family:sans-serif;
    font-weight: 1000;
    font-size: 30px;
    text-align: center;
}
.hero> :nth-child(2){
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:17px ;
    font-weight: 450;
    text-align: center;
}
.hero> :nth-child(3){
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:14px ;
    font-weight: 450;
    text-align: center;
}
.line{
    height: 6px;
    background-color: rgb(66, 62, 62);
    
}
.btn{
    padding: 5px ;
    font-weight:400;
    background:transparent;
    color: white;
    border-radius: 4px;
    font-size: 10px;


    filter: blur(px);
    border: 1px solid rgb(110, 108, 108);
}
.btn_red{
background-color: red;
color: white;
border-radius: 6px;
padding: 4px 24px;
font-size: 10px;

}
#sign:hover{
    background-color: rgb(173, 18, 18);
}
#sign{
    transition: all 100ms ease-in-out;
    border: none;
}
.btn_red_sm{
    background-color: red;
    color: white;
    width: 52px;
    border-radius: 4px;
    cursor: pointer;
}

.hero_btn{
    transition: all 0.4s ease-in-out;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    gap: 17px;
}
.main input{
 border-radius: 4px;
padding:14px 102px 14px 14px;
font-size: 10px;
/* filter:backgroundblur(4px); */
/* background-color: rgb(129, 127, 127); */
/* fill-opacity: 2px; */
background: transparent;
border: 1px solid rgb(83, 81, 81);
font-weight: 700;
color: white;
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80vw;
    gap: 43px;
    max-height: 90vh;
    /* top: 110px; */
    margin-top: 50px;
    margin-bottom: 50px;
}
.last_angle{
    position: relative;
    top: 2px;
}
.img1{
    width: 350px;
}
.para{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 10px;
    color: white;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana,  */
}
.para>:nth-child(1){
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    font-weight: 900;
}
.para>:nth-child(2){
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.imvi{
    position: relative;
}
.imvi .img1{
position:relative;
width: 355px;
z-index: 0; 
}
#GetStart:hover{
    background-color: rgb(173, 18, 18);
}
#GetStart{
    transition: all 100ms ease-in-out;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 25px 10px 17px;
    border: none;
    border-radius: 3px;
    cursor: pointer;

}
#btn_mai #email{
    font-size: 10px;
    font-weight: 600;
    color: rgb(239, 239, 239);
    padding: 20x 20px 2px 2px;
}
#email{
    color: white;
}
.red_svg{
    color: white;
    background-color: white;
}
.eng_img{
    color: white;
}
.eng{
    display: flex;
    border: 1px solid white;
    padding: 5px 16px 3px 6px;
    background-color:transparent;
    color: white;
    border-radius: 3px;
}
.tangle{
    width: 6px;
    height: 4px;
    filter: invert(23);
    left: 2px;
    top: 2.8px;
}
.eng_img{
    width: 10px;
    right: 0px;
    top: -1px;

}
#eng{
    /* height: 13px; */
    width: 45px;
    /* size: 10px; */
    font-size: 10px;
    background-color:transparent;
    border: none;
    color: white;
}
.imvi .img2{
    position:relative;
    width: 355px;
    z-index:16; 
    }
.imvi video{
position: absolute;
top: 52px;
right: 52px;
width: 255px;
z-index:100px ;
}
.last_one{
    margin-left: 11.8vw;
    color: rgb(203, 194, 194);
    margin-bottom: -32px;
    text-decoration-line: none;
}
.imvi .vedio_3{
    position:absolute;
    top: 20px;
    left: 65px;
    width: 220px;
    z-index: 10px;
}

.last_row{
    margin-left: -8vw;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color: white;
    column-gap: 120px;
    margin-top: 50px;
    margin-bottom: 60px;

    
}
.last_row_1{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 10px;
    color: white;
}
.foter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    margin-top: 40px;
    font-size: 10px;
    font-weight: 550;

}
.last_row a{
    color: rgb(203, 194, 194);
}
.last{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 50px;
    color: white;
    gap: 10px;
    row-gap: 20px;
}
.sub_last:hover{
    background-color: rgb(71, 69, 69);
}
.sub_last{
    transition: all 50ms ease-in-out;
    display: flex;
    justify-content: space-between;
    width: 73vw;
    background-color: rgb(45, 45, 45);
    padding: 14px;
    cursor: pointer;
}
#btn_mail{
    position: relative;
    margin-top: 8px;
    gap: 4px;
}


.line3{
    height: 6px;
    background-color: rgb(15, 15, 15);
    
}
.email{
    padding: 9px 70px 13px 10px;
    border-radius: 4px;
    background-color: rgb(22, 17, 17) ;
    border: 1px solid white;
    /* color: white; */
}
#download_img{
    width: 45px;
    height: 60px;
    border-radius: 4px;
    margin-left: 10px;
    margin-top: 3px;
    margin-bottom: 2px;

}
.sub_last :nth-child(2){
    fill: white;
}
.plus{
    width: 30px;
    filter: invert(2);
    /* font-weight: bolder; */
}
.download{
    width: 215px;
    border: 2px solid rgb(88, 86, 86);
    border-radius: 8px;
    margin-bottom: 40px;
    background-color: black;
    /* top: 10px; */
    bottom: -25px;
    position: relative;
    position: absolute;
}
.sub_second{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.download_para{
    position: absolute;
    bottom: 50px;
    left: 152px;
    font-size: 12px;
    /* right: px; */
    color: white;
}
.second{
    margin-bottom: 50px;
}
.download_para2{
    color: rgb(81, 138, 251);
    bottom: 37px;
    left: 152px;
    font-size: 11px;
    position: absolute;
}
.sub_second .img1{
    width: 390px;
}